Django>=3.2.4,<3.3
openpyxl==3.1.2

celery==5.2.6
django-celery-results==2.2.0

redis==3.4.1
django-redis==5.2.0
httpie==3.2.1

daphne
channels==3.0.5
channels-redis


django-cors-headers==3.13.0

reportlab
django-tinymce 
beautifulsoup4   
requests
lxml









